body {
    font-family: 'Courier New', monospace;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 600px;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}

.hidden {
    display: none;
}

button {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333333;
}

/* Estilos para lista de enigmas */
.enigmas-list {
    list-style-type: none;
    padding: 0;
}

.enigmas-list li {
    margin-bottom: 20px;
}

.hint {
    font-style: italic;
    color: #b3b3b3;
}
